@page
@model StrattonOakmont.Pages.Company.View

@{
    ViewData["Title"] = "View company";
}

<div class="row">
    @{
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-deck">
                <div class="card m-3">
                    <div class="card-header text-center">
                        <h3>@Model.Company.Name</h3>
                    </div>
                    <div>
                        <img class="card-img-top" src="@Model.Company.IMG" asp-append-version="true"/>
                    </div>
                    <br>
                    <h2>Securities</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Percent
                                </th>
                                <th>
                                    Price
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @{
                            @if (Model.Company.Securities != null)
                            {
                                @foreach (var item in Model.Company.Securities)
                                {
                                    <tr>
                                        <td>
                                            @item.CategorySec.CategoryName
                                        </td>
                                        <td>
                                            @item.Percent
                                        </td>
                                        <td>
                                            @item.Price
                                        </td>
                                        <td>
                                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                } 
                            }
                        }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    }
</div>