@page
@model StrattonOakmont.Pages.Company.View

@{
    ViewData["Title"] = "View";
}

<div class="row">
    @{
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-deck">
                <div class="card m-3">
                    <div class="card-header text-center">
                        <h3>@Model.Company.Name</h3>
                    </div>
                    <div>
                        <img class="card-img-top" src="@Model.Company.IMG" asp-append-version="true"/>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-page="/Company/Edit" asp-route-Id="@Model.Company.Id" class="btn btn-primary m-1">Edit</a>
                        <a asp-page="/Company/Delete" asp-route-Id="@Model.Company.Id" class="btn btn-danger m-1">Delete</a>
                    </div>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Percent
                                </th>
                                <th>
                                    Price
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @{/*
                        @foreach (var item in Model.Company.Securities)
                        {
                            <tr>
                                <td>
                                    @item.CategorySec.CategoryName
                                </td>
                                <td>
                                    @item.PerSent
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }*/}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    }
</div>