@page
@model StrattonOakmont.Pages.Company.View
topiewData["Title"]bottomcompany";
}

<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full"> 
           
    <div class="container-fluid" style="margin-top: 70px; margin-bottom:100px;">
        <div class="row mt-3">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body profile-card">
                        <center class="mt-4">
                            <img src="@Model.Company.IMG"
                                    class="rounded-circle" width="150" />
                            <h4 class="card-title mt-2">@Model.Company.Name</h4>
                            <h6 class="card-subtitle">@Model.Company.Desc</h6>
                        </center>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="col-md-12 mb-0">Name</label>
                            <div class="col-md-12">
                                <input value="@Model.Company.Name"
                                        class="form-control ps-0 form-control-line" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Description</label>
                            <div class="col-md-12">
                                <input value="@Model.Company.Desc"
                                        class="form-control ps-0 form-control-line" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12 mb-0">Сapitalization</label>
                            <div class="col-md-12">
                                <input value="@Model.Company.Сapitalization"
                                        class="form-control ps-0 form-control-line" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Securities</h4>
                        <h6 class="card-subtitle"> <code></code></h6>
                        <div class="table-responsive">
                            <table class="table user-table">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Category</th>
                                        <th class="border-top-0"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        @if (Model.Bonds != null)
                                        {
                                            @foreach (var item in Model.Bonds)
                                            {
                                                <tr>
                                                    <td>@item.CategorySec.CategoryName</td>                                                    

                                                    <td style="display: flex; justify-content: flex-end">
                                                       <a class="btn btn-success" style="margin:5px" asp-page="/Purchase/PurchaseBond"
                                                                                              asp-route-companyId="@Model.Company.Id"
                                                                                              asp-route-bondId="@item.Id">Buy</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        @if (Model.Stocks != null)
                                        {
                                            @foreach (var item in Model.Stocks)
                                            {
                                                <tr>
                                                    <td>@item.CategorySec.CategoryName</td>                                                    

                                                    <td style="display: flex; justify-content: flex-end">
                                                        <a class="btn btn-primary" style="margin:5px" asp-page="/Forecast/Forecast"
                                                                                              asp-route-companyId="@Model.Company.Id"
                                                                                              asp-route-stockId="@item.Id">Forecast</a>
                                                        <a class="btn btn-success" style="margin:5px" asp-page="/Purchase/Purchase"
                                                                                              asp-route-companyId="@Model.Company.Id"
                                                                                              asp-route-bondId="@item.Id">Buy</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
