@page
@model StrattonOakmont.Pages.Security.ViewSecuritiesModel
@{
     ViewData["Title"] = "View securities";
}

<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">All securities</h4>
                    <h6 class="card-subtitle"> <code></code></h6>
                    <div class="table-responsive">
                        <table class="table user-table">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Company name</th>
                                    <th class="border-top-0">Category</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.Securities != null)
                                {
                                    @foreach (var security in Model.Securities)
                                    {
                                        @if(security.Bonds != null)
                                        {
                                           <tr>
                                                <td>@security.Company.Name</td>
                                                <td>@security.Bonds.CategorySec.CategoryName</td>

                                                <td style="display: flex; justify-content: flex-end">
                                                    <a class="btn btn-success" style="margin:5px" asp-page="Main/Bond/ChangeInBondPrices"
                                                                                                    asp-route-companyId="@security.Company.Id"
                                                                                                    asp-route-bondId="@security.Bonds.Id">Report</a>

                                                    <a class="btn btn-primary" style="margin:5px" asp-page="Main/Bond/EditBond"
                                                                                                    asp-route-companyId="@security.Company.Id"
                                                                                                    asp-route-bondId="@security.Bonds.Id">Edit</a>
                                                    <form method="post" style="margin:0">
                                                        <a asp-route-companyId="@security.Company.Id" asp-route-bondId="@security.Bonds.Id"     
                                                                                                        asp-page="Main/Bond/DeleteBond"
                                                                                                        class="btn btn-danger" style="margin:5px">Delete</a>
                                                    </form>
                                                </td>
                                            </tr>
                                        }

                                        @if(security.Stocks != null)
                                        {
                                            <tr>
                                                <td>@security.Company.Name</td>
                                                <td>@security.Stocks.CategorySec.CategoryName</td>

                                                <td style="display: flex; justify-content: flex-end">
                                                    <a class="btn btn-success" style="margin:5px" asp-page="Main/Stock/ChangeInStockPrices"
                                                                                                    asp-route-companyId="@security.Company.Id"
                                                                                                    asp-route-stockId="@security.Stocks.Id">Report</a>

                                                    <a class="btn btn-primary" style="margin:5px" asp-page="Main/Stock/EditStock"
                                                                                                    asp-route-companyId="@security.Company.Id"
                                                                                                    asp-route-stockId="@security.Stocks.Id">Edit</a>
                                                    <form method="post" style="margin:0">
                                                        <a asp-route-companyId="@security.Company.Id" asp-route-stockId="@security.Stocks.Id"     
                                                                                                        asp-page="Main/Stock/DeleteStock"
                                                                                                        class="btn btn-danger" style="margin:5px">Delete</a> 
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
