@page
@model StrattonOakmont.Pages.Security.Main.Stock.ChangeInStockPricesModel
@{
     ViewData["Title"] = "ChangeInStockPrices";
}

<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Change in stock prices for @Model.Company.Name</h4>
                    <h6 class="card-subtitle"> <code></code></h6>
                    <div class="table-responsive">
                        <table class="table user-table">
                            <thead>
                                <tr>
                                    <form method="post">
                                        <input asp-for="@Model.Company.Id" value="@Model.Company.Id" style="display:none" />
                                        <input asp-for="@Model.StockId" value="@Model.StockId" style="display:none" />
                                        <input asp-for="@Model.Sort" value="@Model.Sort" style="display:none" />
                                        <th class="border-top-0"><input class="btn btn-primary" type="submit" asp-page-handler="Sort" name="fill" value="Price" /></th>                            
                                        <th class="border-top-0"><input class="btn btn-primary" type="submit" asp-page-handler="Sort" name="fill" value="Volume" /></th>
                                        <th class="border-top-0"><input class="btn btn-primary" type="submit" asp-page-handler="Sort" name="fill" value="Amount" /></th>
                                        <th class="border-top-0"><input class="btn btn-primary" type="submit" asp-page-handler="Sort" name="fill" value="Date" /></th>
                                        <th class="border-top-0"></th>
                                    </form>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.PriceСhanges != null)
                                {
                                    @foreach (var priceChange in Model.PriceСhanges)
                                    {
                                        <tr>
                                            <td>@priceChange.Price</td>
                                            <td>@priceChange.Volume</td>
                                            <td>@priceChange.Amount</td>
                                            <td>@priceChange.Date</td>
                                            <td style="display: flex; justify-content: flex-end">
                                                <a class="btn btn-primary" style="margin:5px" asp-page="/Security/PriceChange/Stock/EditInStockPriceChange"
                                                                                        asp-route-companyId="@Model.Company.Id"
                                                                                        asp-route-priceChangeId="@priceChange.Id">Edit</a>  

                                                <a asp-page="/Security/PriceChange/Stock/DeleteInStockPriceChange"
                                                    asp-route-companyId="@Model.Company.Id"
                                                    asp-route-priceChangeId="@priceChange.Id"
                                                    class="btn btn-danger" style="margin:5px">Delete</a> 
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
